<div class="container">
<h1>Eat-Da-Burger!</h1>

<img src="/assets/img/8448c9b365ecf4a42aa987ff22509053-american-burger-cartoon-by-vexels.png" alt="burger" id = "burgerPic">

  <h2>Burgers Not Devoured!</h2>

  <ul>
    {{#each burgers}}
      {{#unless devoured}}
          <li data-id="{{ id }}">{{ burger_name }}
          <br><button class="change-burger btn btn-warning" data-id="{{id}}">DEVOUR!</button></li>
      {{/unless}}
    {{/each}}
  </ul>

    <h2>Burgers That Have Been Devoured!</h2>

    <ul>
      {{#each burgers}}
        {{#if devoured}}
        <li data-id="{{ id }}" class="inline-block burgerBlock">{{ burger_name }}</li>
        {{/if}}
      {{/each}}
    </ul>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgerName">Burger Name:</label>
    <input type="text" id="burgTextarea" name="name">
  </div>

  <button class="btn btn-warning" type="submit" id="newBurger">ADD BURGER</buttonclass="btn btn-warning">
</form>
</div>
